@model ProjetoPixelPlace.Entities.Jogo

@{
    ViewData["Title"] = "Comprar";
}

<h1>Comprar</h1>

<div>
    <h4>Jogo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdJogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdJogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desconto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_lancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_lancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_avaliacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_avaliacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_estrelas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_estrelas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desenvolvedora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desenvolvedora)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
