@model IEnumerable<ProjetoPixelPlace.Entities.Jogo>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/inicial.css">
<script src="~/js/script.js"></script>

@{
    foreach(var item in Model)
    {
       
        if (item.Categoria.Contains("Jogo Destaque"))
    {
            string imagem = Convert.ToBase64String(item.Imagem);
            string formato = "data:image/jpeg;base64," + imagem;
            <a asp-action="Details" asp-route-id="@item.IdJogo">
                <div class="imagePoster" style="background-image: url('@formato')">
                    <div class="containerSombra">
                        <div>
                            <p>@item.Nome</p>
                        </div>
                        <div class="containerPreco">
                            <div class="containerCategoria">
                                <!-- Mostrar Categorias Limita em 3 -->
                                @{
                                    int categoriaCount = 0;
                                    foreach (var categoria in item.Categoria.Split(','))
                                    {
                                        if (categoriaCount >= 3)
                                        {
                                            break;
                                        }
                                        <div class="cardCategoria">@categoria.Trim()</div>
                                        categoriaCount++;
                                    }
                                }
                            </div>
                            <p>R$ @item.Preco</p>
                        </div>
                    </div>
                </div>
            </a>
           
            break;      
        }
    }
}

<div class="containerAdicionados">
    <div class="containerSectionAdcionados">
        <p>Jogos Recentemente Adicionados <img src="img/fogo.png" alt=""></p>
        <a href="">View All</a>
    </div>
    <div class="containerSectionCards">
    @{
        int contador = 0;
        foreach (var item in Model)
        {
            if (item.Categoria.Contains("Adicionado Recentemente"))
            {
                string imagem = Convert.ToBase64String(item.Imagem);
                string formato = "data:image/jpeg;base64," + imagem;

                if (contador == 2)
                {
                    break;
                }
                contador++;
                <a asp-action="Details" asp-route-id="@item.IdJogo" class="card1" style="background-image: url('@formato')">
                    <div class="containerSombra">
                        <div>
                            <p>@item.Nome</p>
                        </div>
                        <div class="containerPreco2">
                            <div class="containerCategoria">
                                <!-- Mostrar Categorias Limita em 3 -->
                                @{
                                    int categoriaCount = 0;
                                    foreach (var categoria in item.Categoria.Split(','))
                                    {
                                        if (categoriaCount >= 3)
                                        {
                                            break;
                                        }
                                        <div class="cardCategoria">@categoria.Trim()</div>
                                        categoriaCount++;
                                    }
                                }
                            </div>
                            <p>R$ @item.Preco</p>
                        </div>
                    </div>
                </a>
            }
        }
    }
    </div>
</div>