@model IEnumerable<ProjetoPixelPlace.Entities.Jogo>

@{
    ViewData["Title"] = "ListaDesejo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/listaDesejo.css">
<link rel="stylesheet" href="~/css/filtros.css">


<div class="containerSectionDesejo">
    <div class="containerTittle">
        <p class="desejo">Lista de Desejo <a href=""><img src="~/img/Vector.svg"></a></p>
    </div>

    <div class="containerList">
        <div class="gridJogos">

            @{

                @foreach (var item in Model)
                {
                    // Assume that `item` has properties like IdJogo, Nome, Imagem, Categoria, Desenvolvedora, and Preco
                    string imagem = Convert.ToBase64String(item.Imagem);
                    string formato = "data:image/jpeg;base64," + imagem;

                    <div class="posterJogo">
                        <img src="@formato">
                        <div class="containerTexto">
                            <div class="frame41">
                                <p class="nomeJ">@item.Nome</p>
                                <p class="nomeJ2">@item.Desenvolvedora</p>
                            </div>
                            <div class="containerCategoria">
                                @{
                                    int categoriaCount = 0;
                                    foreach (var categoria in item.Categoria.Split(','))
                                    {
                                        if (categoriaCount >= 3)
                                        {
                                            break;
                                        }
                                        <div class="cardCategoria">@categoria.Trim()</div>
                                        categoriaCount++;
                                    }
                                }
                            </div>
                            <div class="containerBotoes">
                                <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.51108 0.213751C7.98343 0.316487 9.5175 1.00388 10.9882 2.39179C12.4604 1.00793 13.9981 0.324689 15.4738 0.224602C17.1397 0.111622 18.6114 0.750665 19.6732 1.75862C21.7618 3.74143 22.3982 7.32488 19.7638 9.78158L19.7464 9.79729L11.4968 17.0116C11.2093 17.2631 10.7653 17.2631 10.4778 17.0116L2.2282 9.79729C2.22062 9.79067 2.21321 9.78391 2.20594 9.77701C-0.390181 7.31136 0.243567 3.7279 2.32354 1.74505C3.38146 0.736527 4.84832 0.0977289 6.51108 0.213751Z" fill="#F93535" />
                                </svg>
                                <div class="containerAbrir">
                                    <a asp-action="Details" asp-route-id="@item.IdJogo"><p>Abrir</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                }   

        <div class="containerFilter">
            <div class="containerTitulo">
                <p class="filtros">Filtros</p>
            </div>
            <div class="procurarBiblioteca">
                <img src="~/img/search.svg">
                <input class="tituloiblioteca" placeholder="Titulo">
            </div>
            <div class="frame44">
                <div class="linha4"></div>
            </div>
            <div class="containerTituloGenero">
                <p class="genero">Gêneros</p>
                <div class="frame42">
                    <img src="~/img/vectorbaixo.svg">
                </div>
            </div>
            <div class="frame44">
                <div class="linha4"></div>
            </div>
            <div class="containerTituloGenero">
                <p class="preco">Preços</p>
                <div class="frame42">
                    <img src="~/img/vectorbaixo.svg">
                </div>
            </div>
        </div>
    </div>
</div>