@model IEnumerable<ProjetoPixelPlace.Entities.Jogo>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/loja.css">
<script src="~/js/script.js"></script>

@{

    foreach(var jogo in Model)
    {
        <a asp-action="Details" asp-route-id="@jogo.IdJogo">

            <div class="imagePoster" id="imagePoster">
                <div class="containerSombra">
                    <div>
                        <p id="NomeJogoDestaque">
                            @jogo.Nome
                        </p> <!-- Nome do jogo -->
                    </div>
                    <div class="containerPreco">
                        <div class="containerCategoria" id="CategoriaJogoDestaque"></div>
                        <p id="PrecoJogoDestaque">
                            @jogo.Preco
                        </p> <!-- Preço do jogo -->
                    </div>
                </div>
            </div>
        </a>
        
    } 
}

<div class="tituloCategoria">
    <p class="textoCategoria">
        Jogos com deconto especial
        <img src="~/img/fogo.png" alt="">

        <a href="">
            <img src="~/img/VectorDireita.svg" alt="">
        </a>
    </p>

    <div class="containerBotoesSlider">
        <a href="">
            <img src="~/img/VectorEsquerda.svg" alt="">
        </a>

        <a href="">
            <img src="~/img/VectorDireita.svg" alt="">
        </a>
    </div>
</div>

<div class="containerListGame">
    <div class="imageGame">
        <div class="containerSombra">
            <div>
                <p>Planet Of Lana</p>
            </div>
            <div class="containerCategoria">
                <div class="cardCategoria">adventure</div>
                <div class="cardCategoria">puzzle</div>
                <div class="cardCategoria">Platform</div>
            </div>
            <div class="containerPrecos">
                <div class="descontoCard">
                    <p>-85%</p>
                </div>
                <p>R$ 20,60</p>
                <p>R$ 20,60</p>
            </div>
        </div>
    </div>

    <div class="imageGame">
        <div class="containerSombra">
            <div>
                <p>Planet Of Lana</p>
            </div>
            <div class="containerCategoria">
                <div class="cardCategoria">adventure</div>
                <div class="cardCategoria">puzzle</div>
                <div class="cardCategoria">Platform</div>
            </div>
            <div class="containerPrecos">
                <div class="descontoCard">
                    <p>-85%</p>
                </div>
                <p>R$ 20,60</p>
                <p>R$ 20,60</p>
            </div>
        </div>
    </div>

    <div class="imageGame">
        <div class="containerSombra">
            <div>
                <p>Planet Of Lana</p>
            </div>
            <div class="containerCategoria">
                <div class="cardCategoria">adventure</div>
                <div class="cardCategoria">puzzle</div>
                <div class="cardCategoria">Platform</div>
            </div>
            <div class="containerPrecos">
                <div class="descontoCard">
                    <p>-85%</p>
                </div>
                <p>R$ 20,60</p>
                <p>R$ 20,60</p>
            </div>
        </div>
    </div>
</div>

<div class="tituloCategoria">
    <p class="textoCategoria">
        Explore por categorias

        <!-- <a href="" style="margin-left: 5px;">
            <img src="~/img/VectorDireita.svg" alt="">
        </a> -->
    </p>

    <div class="containerBotoesSlider">
        <a href="">
            <img src="~/img/VectorEsquerda.svg" alt="">
        </a>

        <a href="">
            <img src="~/img/VectorDireita.svg" alt="">
        </a>
    </div>
</div>

<div class="containerListGame">
    <div class="categoria Amarelo">
        <div class="textoCategorias">
            <p>Acesso Antecipado</p>
        </div>
    </div>

    <div class="categoria Vermelho">
        <div class="textoCategorias">
            <p>Aventura</p>
        </div>
    </div>

    <div class="categoria Azul">
        <div class="textoCategorias">
            <p>Ação</p>
        </div>
    </div>

</div>

<div class="tituloCategoria">
    <p class="textoCategoria">
        Gratuito p/ Jogar
        <img src="~/img/fogo.png" alt="">

        <a href="">
            <img src="~/img/VectorDireita.svg" alt="">
        </a>
    </p>

    <div class="containerBotoesSlider">
        <a href="">
            <img src="~/img/VectorEsquerda.svg" alt="">
        </a>

        <a href="">
            <img src="~/img/VectorDireita.svg" alt="">
        </a>
    </div>
</div>

<div class="containerListGame">
    <div class="imageGame">
        <div class="containerSombra">
            <div>
                <p>Planet Of Lana</p>
            </div>
            <div class="containerCategoria">
                <div class="cardCategoria">adventure</div>
                <div class="cardCategoria">puzzle</div>
                <div class="cardCategoria">Platform</div>
            </div>
            <div class="containerPrecos">
                <div class="descontoCard">
                    <p>-85%</p>
                </div>
                <p>R$ 20,60</p>
                <p>R$ 20,60</p>
            </div>
        </div>
    </div>

    <div class="imageGame">
        <div class="containerSombra">
            <div>
                <p>Planet Of Lana</p>
            </div>
            <div class="containerCategoria">
                <div class="cardCategoria">adventure</div>
                <div class="cardCategoria">puzzle</div>
                <div class="cardCategoria">Platform</div>
            </div>
            <div class="containerPrecos">
                <div class="descontoCard">
                    <p>-85%</p>
                </div>
                <p>R$ 20,60</p>
                <p>R$ 20,60</p>
            </div>
        </div>
    </div>

    <div class="imageGame">
        <div class="containerSombra">
            <div>
                <p>Planet Of Lana</p>
            </div>
            <div class="containerCategoria">
                <div class="cardCategoria">adventure</div>
                <div class="cardCategoria">puzzle</div>
                <div class="cardCategoria">Platform</div>
            </div>
            <div class="containerPrecos">
                <div class="descontoCard">
                    <p>-85%</p>
                </div>
                <p>R$ 20,60</p>
                <p>R$ 20,60</p>
            </div>
        </div>
    </div>
</div>

<div class="tituloCategoria">
    <p class="textoCategoria">
        Mais Jogados
        <img src="~/img/fogo.png" alt="">

        <a href="">
            <img src="~/img/VectorDireita.svg" alt="">
        </a>
    </p>

    <div class="containerBotoesSlider">
        <a href="">
            <img src="~/img/VectorEsquerda.svg" alt="">
        </a>

        <a href="">
            <img src="~/img/VectorDireita.svg" alt="">
        </a>
    </div>
</div>

<div class="containerListGame">

    <div class="containerCardGameVertical">
        <div class="imageCardVerical"></div>

        <div class="containerTextCardVertical">
            <div class="ContainerTitulos">
                <p>Planet Of Lana</p>
                <p class="textDesenvolvedora">IO Interactive</p>
            </div>

            <div class="web">
                <p>WEB</p>
            </div>
            <div class="containerPrecos">
                <div class="descontoCard">
                    <p>-85%</p>
                </div>
                <p>R$ 20,60</p>
                <p>R$ 20,60</p>
            </div>
        </div>
    </div>

    <div class="containerCardGameVertical">
        <div class="imageCardVerical"></div>

        <div class="containerTextCardVertical">
            <div class="ContainerTitulos">
                <p>Planet Of Lana</p>
                <p class="textDesenvolvedora">IO Interactive</p>
            </div>

            <div class="web">
                <p>WEB</p>
            </div>
            <div class="containerPrecos">
                <div class="descontoCard">
                    <p>-85%</p>
                </div>
                <p>R$ 20,60</p>
                <p>R$ 20,60</p>
            </div>
        </div>
    </div>

    <div class="containerCardGameVertical">
        <div class="imageCardVerical"></div>

        <div class="containerTextCardVertical">
            <div class="ContainerTitulos">
                <p>Planet Of Lana</p>
                <p class="textDesenvolvedora">IO Interactive</p>
            </div>

            <div class="web">
                <p>WEB</p>
            </div>
            <div class="containerPrecos">
                <div class="descontoCard">
                    <p>-85%</p>
                </div>
                <p>R$ 20,60</p>
                <p>R$ 20,60</p>
            </div>
        </div>
    </div>

    <div class="containerCardGameVertical">
        <div class="imageCardVerical"></div>

        <div class="containerTextCardVertical">
            <div class="ContainerTitulos">
                <p>Planet Of Lana</p>
                <p class="textDesenvolvedora">IO Interactive</p>
            </div>

            <div class="web">
                <p>WEB</p>
            </div>
            <div class="containerPrecos">
                <div class="descontoCard">
                    <p>-85%</p>
                </div>
                <p>R$ 20,60</p>
                <p>R$ 20,60</p>
            </div>
        </div>
    </div>

    <div class="containerCardGameVertical">
        <div class="imageCardVerical"></div>

        <div class="containerTextCardVertical">
            <div class="ContainerTitulos">
                <p>Planet Of Lana</p>
                <p class="textDesenvolvedora">IO Interactive</p>
            </div>

            <div class="web">
                <p>WEB</p>
            </div>
            <div class="containerPrecos">
                <div class="descontoCard">
                    <p>-85%</p>
                </div>
                <p>R$ 20,60</p>
                <p>R$ 20,60</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imagePoster = document.getElementById("imagePoster");
        const nomeJogoDestaque = document.getElementById("NomeJogoDestaque");
        const precoJogoDestaque = document.getElementById("PrecoJogoDestaque");
        const CategoriaJogoDestaque = document.getElementById("CategoriaJogoDestaque");
        const mainBody = document.getElementById("body");

        // Dynamically generated images array
        const images = @Html.Raw(Json.Serialize(Model.Select(item => $"url('data:image/jpeg;base64,{Convert.ToBase64String(item.Imagem)}')").ToList()));
        const nomes = @Html.Raw(Json.Serialize(Model.Select(item => item.Nome).ToList()));
        const precos = @Html.Raw(Json.Serialize(Model.Select(item => item.Preco).ToList()));
        const categorias = @Html.Raw(Json.Serialize(Model.Select(item => item.Categoria).ToList()));

        let currentIndex = 0;

        function changeBackground() {
            imagePoster.style.backgroundImage = images[currentIndex];
            mainBody.style.backgroundImage = images[currentIndex];
            nomeJogoDestaque.innerHTML = nomes[currentIndex];
            precoJogoDestaque.innerHTML = "R$ " + precos[currentIndex];
            CategoriaJogoDestaque.innerHTML = ""; // Limpa o conteúdo anterior

            let categoriaCount = 0;
            categorias[currentIndex].split(',').forEach(categoria => {
                if (categoriaCount >= 3) {
                    return; // Equivalente a 'break' em um loop forEach
                }
                const divCategoria = document.createElement("div");
                divCategoria.className = "cardCategoria";
                divCategoria.innerText = categoria.trim();
                CategoriaJogoDestaque.appendChild(divCategoria); // Adiciona a div de categoria ao elemento CategoriaJogoDestaque
                categoriaCount++;
            });

            currentIndex = (currentIndex + 1) % images.length;
        }

        changeBackground();
        setInterval(changeBackground, 10000);
    });
</script>

