@model IEnumerable<Carrinho>

@{
    ViewData["Title"] = "Carrinho";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Carrinho.css">

<div class="mainBody">
    <div class="containerTittle">
        <p class="listaDesejo">Carrinho <a href=""><img src="~/img/Vector.svg"></a></p>
    </div>
    <div class="containerCart">
        <div class="containerJogos">
            @{
                double totalPreco = 0;
                JogoModel repository = new JogoModel();
                foreach (var item in Model)
                {
                    var jogo = repository.getJogo(item.IdJogo);
                    <div class="posterJogo">
                    @{
                            string imagem = Convert.ToBase64String(repository.getJogo(item.IdJogo).Imagem);
                            string formato = "data:image/jpeg;base64," + imagem;

                        }
                        <div class="containerImg" style="background-image: url('@formato')>

                          
                        </div>
                        <div class="containerSombra" >
                            <div class="informacoesJogo">
                                <div class="tituloJogo">
                                    <p>@jogo.Nome</p>
                                </div>
                                <div class="containerCategoria">
                                    @{
                                        if (jogo.Categoria.Contains("Desktop"))
                                        {
                                            <p>Desktop</p>
                                        }
                                        else
                                        {
                                            <p>Mobile</p>
                                        }
                                    }

                                </div>

                                <div class="containerTipo">
                                    @{
                                        int categoriaCount = 0;
                                        foreach (var categoria in jogo.Categoria.Split(','))
                                        {
                                            if (categoriaCount >= 5)
                                            {
                                                break;
                                            }
                                            <div class="containerCategoriadois fontePersonalizada">@categoria.Trim()</div>
                                            categoriaCount++;
                                        }
                                    }

                                </div>
                            </div>
                            <div class="containerPreco">
                                <div class="containerValor">
                                    @{
                                        var desconto = jogo.Desconto;
                                        var precoOriginal = jogo.Preco;
                                        var precoComDesconto = precoOriginal;

                                        if (desconto > 0)
                                        {
                                            var valorDesconto = precoOriginal * (desconto / 100.0);
                                            precoComDesconto = precoOriginal - valorDesconto;
                                            totalPreco += precoComDesconto;
                                        }
                                        else
                                        {
                                            totalPreco += precoOriginal;
                                        }
                                    }

                                    @if (desconto > 0)
                                    {
                                        <div class="desconto">
                                            <p>-@desconto%</p>
                                        </div>
                                        <div class="ospreco">
                                            <p class="precoAntigo">R$@precoOriginal.ToString("0.00")</p>
                                            <p>R$@precoComDesconto.ToString("0.00")</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="ospreco">
                                            <p>R$@precoComDesconto.ToString("0.00")</p>
                                        </div>
                                    }
                                    
                                    <a href="@Url.Action("Delete", "Carrinho", new { idJogo =item.IdJogo})">
                                        <img src="~/img/lixo.svg" alt="Excluir" />
                                    </a>
                                    
                                </div>
                                <p class="adicionarListaDesejo">Adicionar lista de desejo</p>
                            </div>

                        </div>
                    </div>
                }
            }
        </div>

        <!-- RESUMO DE JOGOS -->
        <div class="ContainerComprar">
            <p>Resumo de jogos<br> e aplicativos</p>

            <form asp-action="Carrinho" method="post" class="formCupom">
                <div class="containerBotao">
                    <input name="NomeCupom" class="inputDesconto" placeholder="Desconto" />
 
                    <input type="submit" value="Aplicar" class="botaoDesconto fontePersonalizada" />
                </div>
            </form>
           

            <div class="precos">
                <p>Preço</p>
                <p>R$@totalPreco.ToString("0.00")</p>
            </div>

            @{
                // Instância do cupom e obtenção do desconto
                Cupom cupom = new Cupom();
                int descontos = 0;
                if (ViewData["porcentagemCupom"] != null)
                {
                    descontos = Convert.ToInt32(ViewData["porcentagemCupom"]);
                }


                // Calcular o valor total com desconto aplicado
                decimal descontoFinal = (decimal)totalPreco * descontos / 100;
                decimal totalComDesconto = (decimal)totalPreco - descontoFinal;
            }
            <form asp-action="InserirTransacao" asp-controller="Transacao" method="post">
                @{
                    string jogos = "";
                    List<int> idJogos = new List<int>();
                    JogoModel modelJogo = new JogoModel();
                }

                @foreach (var jogo in Model)
                {
                    jogos += modelJogo.getJogo(jogo.IdJogo).Nome;
                    idJogos.Add(jogo.IdJogo);
                }
                <input type="hidden" name="idJogos" value="@string.Join(",", idJogos)" />
                <input type="hidden" name="jogoId" value="@jogos" />
                <input type="hidden" name="valorTotal" value="@totalComDesconto.ToString("0.00")" />
                <input type="hidden" name="metodoPagamento" value="cartao_credito" />
                <input type="hidden" name="tipoCompra" value="Compra de Jogo" />

                <div class="precos">
                    <p>Descontos</p>
                    <p>@descontos%</p>
                </div>

                <div class="containerLinha">
                    <div class="linha"></div>
                </div>

                <div class="total">
                    <p>Total</p>
                    <p>R$@totalComDesconto.ToString("0.00")</p>
                </div>

                <input type="submit" class="finalizarCompra" />
               
            </form>
            
        </div>
    </div>
</div>
